{{ define "main" }}
  <!-- 如果设置了 description 就展示 -->
  {{ if isset .Site.Params "description" }}
    <div class="text-base text-[#0F3D91] font-serif leading-relaxed pt-3 pb-4 border-b border-[#a0c4ff]">
      {{ .Site.Params.Description | markdownify }}
    </div>
  {{ end }}

  <!-- 列表式文章展示 -->
  <section class="pt-8 space-y-8">
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range (.Paginate $pages 10).Pages }}
      <article class="border-b border-gray-200 pb-4">
        <h2 class="text-2xl font-regular text-my-ultramarine hover:text-my-pink hover:underline mb-1">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        <div class="text-sm text-gray-500 mb-2">
          {{ .Date.Format "2006-01-02" }}
          {{ with .Params.categories }} ·
            {{ range . }}
              <a href="{{ "/categories/" | relURL }}{{ . | urlize }}" class="text-my-pink hover:underline">#{{ . }}</a>
            {{ end }}
          {{ end }}
        </div>
        <p class="text-sm text-gray-700 line-clamp-3">{{ .Summary }}</p>
      </article>
    {{ end }}
  </section>

  <!-- 分页 -->
  <div class="pt-10">
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
