<header
  class="bg-my-ultramarine/95 text-white flex items-center px-8 h-16 shadow-md sticky top-0 z-20"
>
  <span class="text-2xl font-semibold tracking-wide mr-8">zzy040330.萌え</span>
  <nav class="font-bold flex gap-6 flex-1">
    <a href="{{ "/" | relURL }}" class="hover:text-[#F4CDE8] transition">首页</a>
    <a href="{{ "/posts/" | relURL }}" class="hover:text-[#F4CDE8] transition">文章</a>
    <a href="{{ "/archives/" | relURL }}" class="hover:text-[#F4CDE8] transition">归档</a>
    <a href="{{ "/friends/" | relURL }}" class="hover:text-[#F4CDE8] transition">友情链接</a>
    <a href="{{ "/about/" | relURL }}" class="hover:text-[#F4CDE8] transition">关于</a>
  </nav>
</header>

</header>
