<aside
  class="w-64 px-4 py-8 flex flex-col justify-between h-screen sticky top-0"
>
  <!-- 顶部导航 -->
  <div class="space-y-6">
    <div>
      <h3 class="text-base tracking-wide mb-2 font-bold">
        <span class="font-serif text-my-ultramarine">zzy040330.</span
        ><span class="font-sans text-my-pink">萌え</span>
      </h3>

      <h1 class="text-4xl text-my-ultramarine tracking-wide mb-2 font-bold">
        無何有之鄉
      </h1>
      <p class="text-base text-gray-500">~本来无一物 何处惹尘埃~</p>
    </div>

    <nav class="text-xl space-y-2 text-my-ultramarine font-medium">
      <a href="/" class="block hover:text-my-pink">首页</a>
      <a href="/categories/" class="block hover:text-my-pink">分类</a>
      <a href="/tags/" class="block hover:text-my-pink">标签</a>
      <a href="/posts/" class="block hover:text-my-pink">归档</a>
      <a href="/about/" class="block hover:text-my-pink">关于</a>
    </nav>

    <a
      href="/index.xml"
      class="block text-sm text-my-ultramarine hover:text-my-pink"
      ><i class="fa-solid fa-rss"></i> RSS 订阅
    </a>
    <!-- 社交链接 -->
    <div class="text-lg mt-6 border-t border-gray-200 pt-4 text-sm space-y-2">
      <a
        href="https://orcid.org/0000-0002-7017-5397"
        class="flex gap-2 text-my-ultramarine hover:text-my-pink"
      >
        <i class="fa-brands fa-orcid"></i> ORCID
      </a>
      <a
        href="https://www.researchgate.net/profile/Ziyu-Zhou-36"
        class="flex gap-2 text-my-ultramarine hover:text-my-pink"
      >
        <i class="fa-brands fa-researchgate"></i> ResearchGate
      </a>
      <a
        href="https://github.com/sophiel-meow"
        class="flex gap-2 text-my-ultramarine hover:text-my-pink"
      >
        <i class="fa-brands fa-github"></i> GitHub
      </a>
      <a
        href="mailto:zzy040330@ieee.org"
        class="flex gap-2 text-my-ultramarine hover:text-my-pink"
      >
        <i class="fa-solid fa-envelope"></i> 学术邮箱
      </a>
      <a
        href="mailto:jun@zzy040330.moe"
        class="flex gap-2 text-my-ultramarine hover:text-my-pink"
      >
        <i class="fa-solid fa-envelope"></i> 个人邮箱
      </a>
      <a
        href="/ziyu_zhou_pubkey.gpg"
        class="flex gap-2 text-my-ultramarine hover:text-my-pink"
      >
        <i class="fa-solid fa-key"></i> GPG 公钥
      </a>
    </div>
  </div>

  <!-- 底部版权 -->
  <footer class="text-xs text-gray-400 pt-6 border-t border-gray-200 mt-12">
    <p class="leading-relaxed">
      © 2013-2025 無何有之鄉 <br />
      <a href="https://creativecommons.org/licenses/by-sa/4.0/"
        >本站採用 CC BY-SA 4.0 許可證</a
      ><br />
      Designed by Jun & A.L.I.C.E.
    </p>
  </footer>
</aside>
